{% extends 'layout/default.njk' %}

{% block body %}
  <div class="auth">
    <div class="auth-container">
      <div class="card">
        <header class="auth-header">
          <h1 class="auth-title">
            <div class="logo">
              <span class="l l1"></span>
              <span class="l l2"></span>
              <span class="l l3"></span>
              <span class="l l4"></span>
              <span class="l l5"></span>
            </div> Let's Do It </h1>
        </header>
        <div class="auth-content">
          <p class="text-center">Recuperação de Senha</p>
          <p class="text-muted text-center">
            <small>Digite seu email para enviarmos as instruções</small>
          </p>
          <form id="reset-form" action="/index.html" method="GET" novalidate="">
            <div class="form-group">
              <label for="email1">Email</label>
              <input type="email" class="form-control underlined" name="email1" id="email1" placeholder="Digite seu email" required> </div>
            <div class="form-group">
              <button type="submit" class="btn btn-block btn-primary">Enviar</button>
            </div>
            <div class="form-group clearfix">
              <a class="pull-left" href="/">Voltar para o Login</a>
              <a class="pull-right" href="/signup">Cadastre-se!</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
