{% extends 'layout/default.njk' %}

{% block body %}
  <div class="auth">
    <div class="auth-container">
      <div class="card">
        <header class="auth-header">
          <h1 class="auth-title">
            <div class="logo">
              <span class="l l1"></span>
              <span class="l l2"></span>
              <span class="l l3"></span>
              <span class="l l4"></span>
              <span class="l l5"></span>
            </div> Let's Do It </h1>
        </header>
        <div class="auth-content">
          <p class="text-center">Se cadastre para ter acesso ao Dashboard</p>
          <form id="signup-form" action="#" method="POST" novalidate="">
            <div class="form-group">
              <label for="firstname">Nome</label>
              <input type="text" class="form-control underlined" name="name" id="name" placeholder="Digite seu nome" required="">
            </div>
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" class="form-control underlined" name="email" id="email" placeholder="Digite seu email" required=""> </div>
            <div class="form-group">
              <label for="password">Senha</label>
              <div class="row">
                <div class="col-sm-6">
                  <input type="password" class="form-control underlined" name="password" id="password" placeholder="Digite sua senha" required=""> </div>
                <div class="col-sm-6">
                  <input type="password" class="form-control underlined" name="retype_password" id="retype_password" placeholder="Repita sua senha" required=""> </div>
              </div>
            </div>
            <div class="form-group">
              <label for="agree">
                <input class="checkbox" name="agree" id="agree" type="checkbox" required="">
                <span>Eu aceito os termos e as
                  <a href="#">políticas</a>
                </span>
              </label>
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-block btn-primary">Cadastrar</button>
            </div>
            <div class="form-group">
              <p class="text-muted text-center">Já tem uma conta?
                  <a href="/">Entrar</a>
              </p>
            </div>
          </form>
        </div>
      </div>
    </div>
</div>
{% endblock %}
